* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    min-width: 1170px;
    min-height: 1500px;
}

.main-content {
    width: 1170px;
    margin: 16px auto 0;
}